.location.lower-contact {
  color: map-get($colors, "text-secondary");
}

.lower-contact {
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  &:hover,
  &:focus {
    color: map-get($colors, "accent");
  }
}
