.hero-label {
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: map-get($colors, "main-text");

  & + & {
    margin-top: 10px;
  }
}

.icon-container {
  display: block;
  position: relative;
}
