.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.member {
  margin-bottom: 10px;

  color: map-get($colors, "title-text");

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-member {
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 0px 0px 4px 4px;

  text-align: center;

  background-color: map-get($colors, "background-primary");
  @include box-shadow();
}

.social-list {
  display: inline-flex;
  flex-wrap: wrap;
}

.social-item:not(:first-child) {
  margin-left: 10px;
}
